@model FoodOrdering.Areas.Admin.Models.DeliveryBoyUpdateModel

@{
    ViewData["Title"] = "Add Category";
}

@section notification
{
    @await Html.PartialAsync("_Notification", Model.Notification)
}
<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Quick Example</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="~/admin/DeliveryBoy/add" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="deliveryboyname">Give name</label>
                            <input type="text" class="form-control" name="Name" id="deliveryboyname" placeholder="deliveryboy name">
                        </div>
                        <div class="form-group">
                            <label for="deliveryboyEmail">Give name</label>
                            <input type="text" class="form-control" name="Email" id="deliveryboyEmail" placeholder="deliveryboy Email">
                        </div>

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.col (left) -->

    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->
@section scripts{

    <script>
        $(function () {
            //normal dropdown
            //$("#normalDropDown").chosen({
            //    disable_search_threshold : 5
            //});


            $("#multiSelectDropDown").chosen({
                width: "20%"
            });
        });

    </script>
}
