@model FoodOrdering.Areas.Admin.Models.FoodItemUpdateModel
@{
    ViewData["Title"] = "Add FoodItem";
}

@section notification
{
    @await Html.PartialAsync("_Notification", Model.Notification)
}

@section style
{
    <style>
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: blue;
        }
    </style>
    <link href="~/admin/plugins/select2/css/select2.min.css" rel="stylesheet" />
}

@*@section scripts{

    <script>
        $(function () {
            
            $("#normalDropDown").chosen({
                disable_search_threshold : 5
            });


            $("#multiSelectDropDown").chosen({
                width: "20%"
            });
        });

    </script>
}*@


@section scripts
    {
        <script src="~/admin/plugins/select2/js/select2.full.min.js"></script>
        <script>
            $(function () {
                //Initialize Select2 Elements
                $('.select2').select2();
                $(".js-example-tokenizer").select2({
                    tags: true
                })
                //$("#e12").val(["C#","SQL Server"]).select2();
            });
        </script>
    }
<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Quick Example</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form enctype="multipart/form-data" role="form" action="~/admin/FoodItem/add" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="Foodname">Give food name</label>
                            <input type="text" class="form-control" name="Name" id="Foodname" placeholder="food name">
                        </div>
                        <div class="form-group">
                            <label for="CategoryName">Give food price</label>
                            <input type="text" class="form-control" name="Price" id="CategoryName" placeholder="Category name">
                        </div>
                        <div class="form-group">
                            <label for="fooddescription">Give food description</label>
                            <input type="text" class="form-control" name="Description" id="fooddescription" placeholder="foodprice name">
                        </div>
                        <div class="form-group">
                            <label for="foodpicture">Give food description</label>
                            <dl>
                                <dd>
                                    <input name="profileImage" type="file" class="form-control" id="foodpicture">
                                </dd>
                            </dl>

                        </div>

                        @*<div class="form-group">
                            <label>Add Category</label>
                            @Html.DropDownListFor(m => m.Categories,
                            Model.CategoryList.Select(x => new SelectListItem
                            {
                             Text = x.Name,
                             Value = x.Name
                             }), new { @class = "select2 js-example-tokenizer", @style = "width: 100%" })
                            
                            <div class="editor-field">

                            </div>


                        </div>*@
                        <div class="form-group col-md-12">
                            <label asp-for="Category.Id" class="control-label">Categories</label>
                            <select name="Category.Id" class="form-control form-control-sm select2" style="width: 100%;">
                                <option disabled selected> Please Select a new Item </option>
                                @foreach (var item in Model.CategoryList)
                                {
                                   <option value="@item.Id">@item.Name</option>
                                }
                                
                            </select>
                        </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="form-group">
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                </form>
                @*﻿<form enctype="multipart/form-data" action="~/admin/FoodItem/addImage" method="post">
                        <dl>
                            <dd>
                                <input name="profileImage" type="file">
                            </dd>
                        </dl>
                        <input class="btn btn-primary" type="submit" value="Upload" />
                    </form>*@
            </div>
        </div>
        <!--/.col (left) -->

    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->
