
@model FoodOrdering.Models.InvoiceModel
@{
    ViewData["Title"] = "testing";
}
@section styles
 {
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="/css/simplepagelayout.css" />
}


<div id="container">
    <div id="header">
        <h1>Invoices</h1>
    </div>
    <div id="content">
        <div id="nav">
            <p>Thank you for ordering</p>
        </div>
        <div id="main">
            <h2>Invoice page</h2>
            <p>UserId : @Model.UserId</p>
            <p>UserEmail : @Model.Email</p>
            <p>Totalitems : @Model.TotalItems</p>
            <p>TotalAmount : @Model.TotalAmount</p>
        </div>
        <div id="thirdsection">
           <a class="nav-link text-dark" asp-controller="Payment" asp-action="AddPayment">Payment</a>
        </div>
    </div>
    <div id="footer">
        <p></p>
    </div>

</div>